.backgroundimg {
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.card-login {
    background-color: #85aee8;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 380px;
    text-align: center;
    color: white;
}

.logo-area {
    margin-bottom: -50px;
}

.logo-icon {
    width: 200px;
    height: 200px;
}

.logo-text {
    font-size: 1.2em;
    font-weight: bold;
}

.logo-subtext {
    font-size: 0.8em;
    margin-top: -5px;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.form-group input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.login-button {
    padding: 10px 90px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.login-button:hover {
    background-color: white;
    color: #85aee8;
}
.separator {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 30px 0 15px;
}

.register-link a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}
